.add-employee-details{
    margin-left: 1%;
    font-family: sans-serif;
}

.upload-image{
    display: flex;
}

.form-container{
    display: flex;
    gap: 20px;
}

.edit-container{
    margin-left: 28%;
    margin-top: 10%;
}

.profile-picture{
    height: 80px;
}

.edit-file{
    display: none;
}

.upload-profile-picture{
    width: auto;
    height: 10%;
    margin-left: 2%;
    padding: 0.5% 2%;
    align-items: center;
    background-color: #F44848;
    border-radius: 4px;
    margin-top: 2%;
}

.profile-picture-div{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.file-upload{
    display: none;
}

.label-upload{
    cursor: pointer;
    color: white;
    font-size: 12px;

}

.profile-picture{
    height: 80px;
}

.edit-text{
    width: 10%;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    margin-bottom: 5%;
    margin-left: 5%;
}

.emp-input-field{
    margin-top: 0.6%;
    padding: 0.6%;
    width: 189px;
}

.label{
    color: #3e4146;
}

.emp-input-field:focus{
    outline: 2px solid #378EFF;
}

.name-dob-fields{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    flex: 1;
    margin-top: 1%;
    width: 90%;
}

.emp-name{
    padding: 4%;
    flex: 1;
    width: 189px;
    margin-top: 3%;
}
.emp-dob{
    padding: 3%;
    width: 189px;
    margin-top: 3%;
}

.emp-dob:focus{
    outline: 2px solid #378EFF;
}


.emp-name:focus{
    outline: 2px solid #378EFF;
}

.contact-details{
    display: flex;
    width: 60%;
    margin-top: 1%;
    gap: 30px;
}

.emp-contact-details{
    width: 189px;
    margin-top: 3%;
    padding: 4%;
}

.emp-contact-details:focus{
    outline: 2px solid #378EFF;
}

.employment-information{
    display: flex;
    flex-direction: column;
}

.join-date{
    margin-top: 2%;
    padding: 3%;
    width: 330px;
}

.join-date:focus{
    outline: 2px solid #378EFF;
}


.employment-information-row1 {
    display: flex;
    gap: 30px;
    width: 100%;
    flex-wrap: wrap;
}

.employment-information-row2{
    display: flex;
    width: 100%;
    gap: 12px;
    margin-top: 1%;
    flex-wrap: wrap;
}

.employment-information-row3{
    display: flex;
    width: 100%;
    gap: 12px;
    margin-top: 1%;
    flex-wrap: wrap;
}

.location-dropdown{
    background-color: #F4F5F7;
    outline: none;
    border: none;
    margin-top: 2%;
    padding: 3%;
    width: 355px;
}

.job-title-dropdown{
    background-color: #F4F5F7;
    outline: none;
    border: none;
    margin-top: 2%;
    padding: 3%;
    width: 353px;
}

.department-dropdown{
    background-color: #F4F5F7;
    outline: none;
    border: none;
    margin-top: 2%;
    padding: 2.5%;
    width: 355px;
}

.manager-dropdown{
    background-color: #F4F5F7;
    outline: none;
    border: none;
    margin-top: 2%;
    padding: 3%;
    width: 353px;
}

.project-dropdown{
    background-color: #F4F5F7;
    outline: none;
    border: none;
    margin-top: 2%;
    padding: 2.5%;
    width: 355px;
}

.add-cancel-button{
    display: flex;
    gap: 1%;
    margin-top: 5%;
    justify-content: flex-end;
    width: 97%;
}

.cancel-button{
    background-color: #FBEBEB;
    color: #F57070;
    padding: 0.7% 4%;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.submit-button{
    background-color: #F44848;
    color: white;
    padding: 1% 1%;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.error-message{
    color: red;
    font-size: 11px;
}

.error-image{
    margin-top: 5px;
    height: 10px;
}

.success-message{
    background-color: rgb(251, 243, 243);
    position: fixed;
    z-index: 1;
    top: 30px;
    width: 380px;
    height: 60px;
    left: 550px;
    box-shadow: 1px 1px 10px black;
    margin-left: 25%;
    align-items: center;
    animation-name: 'toaster-message';
    animation-duration: 2s;
}

.tick-mark{
    height: 20px;
    margin-top: 6%;
}

.content{
    margin-top: -6%;
    margin-left: 10%;
    color: green;
}