.main-container{
    display: flex;
    flex-direction: row;
    margin-left: 1%;
    height: 100%;
}

.right-container{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    width: 83%;
    flex: 1;
}

.employees-component{
    margin-left: 1%;
}

.side-nav-component{
    width: 17%;
    /* position: sticky;
    top: 0; */
    height: 100vh;
}

@media (max-width: 768px) {
    .side-nav-component{
        width: 100%;
        position: relative;
        top: 0;
    }
    .right-container {
        width: 100%; 
    }
}

